/* ----rr--fill-on-color: #ffb23f;
--rr--fill-off-color: #fff7ed;
--rr--stroke-on-color: #e17b21;
--rr--stroke-off-color: #eda76a; */
.rr--box.rr--on svg {
    stroke: #ffa700 !important;
}

.rr--box.rr--off svg {
    stroke: #c8c8c8 !important;
}

.rr--box.rr--off svg {
    fill: #c8c8c8;
}