.react-tabs__tab--selected{
    color: #fa8c16;
    position: relative;
}

.react-tabs__tab--selected::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #fa8c16;
    position: absolute;
    left: 0;
    bottom: 0;
}